<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinkedIn Auth</title>
</head>
<body>
  <form action="" method="post">
    <input type="image" src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png" />
  </form>
</body>
</html>